@import "_zeroing";


.body {
    width: 100%;
    min-width: 1200px;
    overflow: auto;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1;
    width: 1;
    overflow: hidden;
}
.main-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85px;
    justify-content: center;
    .main-header-logo{
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
        margin-right: 265px;
    }
    .site-navigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400px;
        color: #555248;
        margin-right: 215px;
        .site-navigation-item{
            margin-right: 65px;
        }
    }
    .user-navigation{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        :nth-child(2){
            margin-top: -4px;
        }
        .user-navigation-item{
            margin-right: 20px;
        }
    }
}
.promo{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 50px;
    .promo-text{
        display: flex;
        flex-direction: column;
        margin-top: 235px;
        margin-left: 80px;
        h2{
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 45px;
            line-height: 60px;
            color: #1B1A17;
            margin-bottom: 5px;
            z-index: 3;
            &::before{
                content: url(../img/Line.svg);
                position: absolute;
                margin-left: -60px;
                margin-top: -15px;
            }
            &::after {
                content: url(../img/price_main.svg);
                position: absolute;
                z-index: 1;
                margin-left: 55px;
                margin-top: -130px;
            }
        }
        h3{
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
            color: #1B1A17;
            margin-bottom: 30px;
        }
        p{
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: rgba(27, 26, 23, 0.82);
            width: 260px;
            margin-bottom: 55px;
        }
        a{
            width: 205px;
            height: 64px;
            background-color: #444240;
            color:#FFFFFF;
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 25px 35px;
        }
    }
    img{
        margin-left: 135px;
        margin-top: -10px;
        z-index: 2;
    }
    &::before{
        content: url(../img/Ellipse.png);
        z-index: 0;
        position: absolute;
        margin-left: 370px;
        margin-top: -5px;
    }
    &::after {
        content: url(../img/diameter.svg);
        position: absolute;
        z-index: 1;
        margin-left: 960px;
        margin-top: 640px;
    }
}
.popular{
    display: flex;
    flex-direction: column;
    margin-bottom: 85px;
    h2{
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 32px;
        line-height: 43px;
        color: #1B1A17;
        display: flex;
        justify-content: center;
    }
    & > a{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #444240;
        display: flex;
        justify-content: end;
        margin-right: 40px;
        margin-bottom: 40px;
        position: relative;
        &::after{
            content: url(../img/Line2.svg);
            position: absolute;
            margin-top: 10px;
        }
    }
    .popular-list{
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        .list-item{
            display: flex;
            flex-direction: column;
            width: 370px;
            height: 467px;
            background-color:#FDFDFB;
            margin-right: 40px;
            h3{
                font-family: 'Playfair Display';
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.03em;
                color: rgba(27, 26, 23, 0.82);
                padding-top: 30px;
                padding-left: 30px;
                position: relative;
                &::after{
                    position: absolute;
                    content: url(../img/Ellipse2.svg);
                    top: 70px;
                    left: 0;
                }
            }
            a{
                font-family: 'Playfair Display';
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #1B1A17;
                display: flex;
                justify-content: start;
                margin-left: 60px;
                margin-top: 30px;
                position: relative;
                &::before{
                    content: url(../img/Line3.svg);
                    position: absolute;
                    margin-top: -5px;
                    margin-left: -40px;
                }
            }
            .price{
                margin-left: 30px;
            }
        }
    }
}
.quality{
    background-color: #FDFDFB;
    margin-bottom: 70px;
    position: relative;
    &::before {
        content: url(../img/banner_1.png);
        position: absolute;
        z-index: 0;
    }
    &::after{
        content: url(../img/pagination_banner.svg);
        position: absolute;
        z-index: 1;
        margin-top: -40px;
        margin-left: 530px;
    }
}
.quality-info{
    display: flex;
    flex-direction: row;
    padding-bottom: 65px;
    img{
        margin-top: 40px;
        margin-left: 70px;
        z-index: 1;
    }
    .quality-text{
        display: flex;
        flex-direction: column;
        margin-left: 70px;
        h2{
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            color: #1B1A17;
            margin-top: 130px;
            margin-bottom: 25px;
            position: relative;
            &::after{
                content: url(../img/circle.svg);
                position: absolute;
                margin-top: -130px;
                margin-left: -90px;
            }
        }
        p{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #444240;
            width: 400px;
            margin-bottom: 40px;
        }
        a{
            width: 205px;
            height: 64px;
            background-color: #D4B098;
            color: #FFFFFF;
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 25px 35px;
        }
    }
}
.news{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    .news-text{
        display: flex;
        flex-direction: column;
        h2{
            font-family: 'Playfair Display';
            font-weight: 400;
            font-size: 32px;
            line-height: 43px;
            color: #1B1A17;
            margin-top: 140px;
            margin-bottom: 25px;
            margin-left: -5px;
        }
        p{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #444240;
            width: 380px;
            position: relative;
            &::after{
                content: url(../img/icons_2.svg);
                position: absolute;
                top: 170px;
                left: 0;
            }
        }
        span {
            font-weight: bold;
            color: #262421;
        }
    }
    .imgs{
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        .imgs-block-1{
            display: flex;
            flex-direction: column;
            img{
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
        .imgs-block-2{
            margin-right: -30px;
        }
    }
}
.main-footer{
    background-color: #444240;
    color: #FFFFFFBF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    .columns{
        display: flex;
        flex-direction: row;
        .column{
            display: flex;
            flex-direction: column;
            margin-right: 100px;
        }
        .column > li {
            margin-bottom: 10px;
            &:first-child{
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color:#FFFFFF;;
                margin-bottom: 20px;
            }
            img{
                margin-top: -10px;
                margin-left: -10px;
            }
        }
    }
}

